.root {
  position: absolute;
  top: 90%;
  left: 2rem;
  transform: translateY(-100%);
  display: grid;
  grid-template-areas: ". top ." "left . right" ". bottom .";
}

.container {
  grid-area: var(--area);
  width: 4.5rem;
  height: 4.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
  transform: rotate(var(--rotate));
  opacity: 0.75;
}

.button * {
  fill: var(--color);
  pointer-events: none;
}

.button path:last-child {
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
}