.root {
  position: absolute;
  top: 90%;
  left: 2rem;
  transform: translateY(-100%);
  display: grid;
  grid-template-areas: ". top ." "left . right" ". bottom .";
}

.container {
  grid-area: var(--area);
  width: 3.6rem;
  height: 3.6rem;
  display: grid;
  grid-template-rows: 1fr auto;
  transform: rotate(var(--rotate));
  opacity: 0.75;
}

.button {
  border-radius: 0.25rem 0.25rem 0.15rem 0.15rem;
  background: var(--color);
}

.border {
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 1.5rem solid var(--color);
  margin-top: -1px;
  padding-top: 0.25rem;
  margin-bottom: -35%;
}