.root {
  position: absolute;
  top: 90%;
  left: 2rem;
  transform: translateY(-100%);
  display: grid;
  grid-template-areas: "topLeft top topRight" "left . right" "bottomLeft bottom bottomRight";
}

.container {
  grid-area: var(--area);
  width: 4.5rem;
  height: 4.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
  transform: rotate(var(--rotate));
  opacity: 0.75;
}

.button * {
  pointer-events: none;
}

.button :first-child {
  fill: var(--color);
  stroke: black;
  stroke-width: 2px;
}

.button :last-child {
  pointer-events: auto;
  fill: transparent;
}

.corner {
  grid-area: var(--area);
  display: grid;
  grid-template-areas: "triangle";
}

.triangle {
  grid-area: triangle;
  transform: rotate(var(--rotate));
  pointer-events: none;
}

.triangle * {
  fill: transparent;
}

.triangle :last-child {
  pointer-events: auto;
}